# Dependencies
node_modules

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment - ONLY USE .env.local
.env
.env.example
.env.local
.env.*.local
.env.local.example
application-local.yml
application-local.properties

# Sensitive data - DO NOT COMMIT
**/application-local.yml
**/application-local.properties
**/.env.local
**/.env.local.example

# Build
dist
build
target

# Temporary files
*.tmp
*.bak
*.swp
*.deleted
